<!-- <div class="container-fluid p-3 bg-custom d-flex flex-row justify-content-between w-100">
    <div class="d-flex flex-row">
        <button class="bg-transparent border-0 p-0">
            <img src="../../../assets/whatsapp.png" alt="whatsapp">
        </button>
        <button class="bg-transparent border-0 p-0"> 
            <img src="../../../assets/instagram.png" alt="instagram">
        </button>
        <button class="bg-transparent border-0 p-0"> 
            <img src="../../../assets/facebook.png" alt="facebook">
        </button>
    </div>
    <div class="d-flex align-items-center">
        <span class="text-white">Designed By _andrewizzo</span>
    </div>
    <button class="bg-transparent border-0">
        <img src="../../../assets/up-arrow.png" alt="">
    </button>
</div> -->

<div class="container-fluid p-3 bg-custom d-flex flex-row justify-content-between align-items-center flex-wrap gap-2">
    
    <!-- Social -->
    <div class="d-flex flex-row align-items-center gap-2">
        <button class="bg-transparent border-0 p-0" (click)="apriWhatsApp()">
            <img src="../../../assets/whatsapp.png" class="img-fluid" alt="whatsapp" style="width: 24px; height: 24px;">
        </button>
        <button class="bg-transparent border-0 p-0"> 
            <img src="../../../assets/instagram.png" class="img-fluid" alt="instagram" style="width: 24px; height: 24px;">
        </button>
        <button class="bg-transparent border-0 p-0"> 
            <img src="../../../assets/facebook.png" class="img-fluid" alt="facebook" style="width: 24px; height: 24px;">
        </button>
    </div>

    <!-- Testo -->
    <div class="text-white text-center">
        <span>Designed By _andrewizzo</span>
    </div>

    <!-- Freccia -->
    <button class="bg-transparent border-0 p-0" (click)="scrollToNavbar()">
        <img src="../../../assets/up-arrow.png" class="img-fluid w-50" alt="up arrow" >
    </button>
</div>
