<div class="container-fluid p-3 bg-custom d-flex flex-row justify-content-between w-100">
    <div class="d-flex flex-row">
        <button class="bg-transparent border-0">
            <img src="../../../assets/whatsapp.png" alt="whatsapp">
        </button>
        <button class="bg-transparent border-0"> 
            <img src="../../../assets/instagram.png" alt="instagram">
        </button>
        <button class="bg-transparent border-0"> 
            <img src="../../../assets/facebook.png" alt="facebook">
        </button>
    </div>
    <div class="d-flex align-items-center">
        <span class="text-white">Designed By _andrewizzo</span>
    </div>
    <button class="bg-transparent border-0">
        <img src="../../../assets/up-arrow.png" alt="">
    </button>
</div>