<div class="container-fluid p-0">
    <div class="border-1 border-black border-bottom">
        <img src="../../../assets/images/RENT ONE_page-0001.jpg" alt="" class="img-fluid">
    </div>
    <div class="w-100 d-flex justify-content-center border-1 border-bottom border-black">
        <button class="d-flex flex-row bg-button-whatsapp w-75 border-0 rounded justify-content-center align-items-center p-1 gap-1">
            <span class="text-white fs-2">Whatsapp</span>
            <img src="../../../assets/whatsapp.png" alt="" style="max-height: 40px;">
        </button>
    </div>
</div>
