<!-- <div class="container-fluid p-3 bg-black d-flex flex-row align-items-center justify-items-center ">
    <div class="fs-3 w-100 ">
        <div class="w-100 d-flex flex-row justify-content-center align-items-center">
            <span class="text-white">Rent</span>
            <span class="text-danger">One</span>
        </div>
    </div>
    <div>
        <button class="bg-transparent border-0">
            <img src="../../../assets/phone.png" class="w-75">
        </button>
    </div>
</div> -->

<div class="container-fluid p-3 bg-custom d-flex align-items-center position-relative" id="navbar">
  <div class="position-absolute start-50 translate-middle-x text-center flex-grow-1">
    <span class="fs-1 text-white fw-bold">RENT</span>
    <span class="fs-1 text-danger fw-bold">ONE</span>
  </div>
  <button (click)="chiamaNumero()" class="bg-transparent border-0 ms-auto">
    <img src="../../../assets/phone.png" class="img-fluid" alt="Phone" style="max-height: 40px;">
  </button>
</div>
